Hello_Struts/src/services.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://service" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://entity/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://service">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity/xsd">
            <xs:complexType name="Student">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="number" type="xs:int"/>
                    <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://entity/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service">
            <xs:import namespace="http://entity/xsd"/>
            <xs:element name="queryStudents">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryStudentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Student"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreeting">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getGreetingRequest">
        <wsdl:part name="parameters" element="xsd:getGreeting"/>
    </wsdl:message>
    <wsdl:message name="getGreetingResponse">
        <wsdl:part name="parameters" element="xsd:getGreetingResponse"/>
    </wsdl:message>
    <wsdl:message name="queryStudentsRequest">
        <wsdl:part name="parameters" element="xsd:queryStudents"/>
    </wsdl:message>
    <wsdl:message name="queryStudentsResponse">
        <wsdl:part name="parameters" element="xsd:queryStudentsResponse"/>
    </wsdl:message>
    <wsdl:portType name="DemoServicePortType">
        <wsdl:operation name="getGreeting">
            <wsdl:input message="xsd:getGreetingRequest" wsaw:Action="urn:getGreeting"/>
            <wsdl:output message="xsd:getGreetingResponse" wsaw:Action="urn:getGreetingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="queryStudents">
            <wsdl:input message="xsd:queryStudentsRequest" wsaw:Action="urn:queryStudents"/>
            <wsdl:output message="xsd:queryStudentsResponse" wsaw:Action="urn:queryStudentsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DemoServiceSoap11Binding" type="xsd:DemoServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getGreeting">
            <soap:operation soapAction="urn:getGreeting" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryStudents">
            <soap:operation soapAction="urn:queryStudents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DemoServiceSoap12Binding" type="xsd:DemoServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getGreeting">
            <soap12:operation soapAction="urn:getGreeting" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryStudents">
            <soap12:operation soapAction="urn:queryStudents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DemoServiceHttpBinding" type="xsd:DemoServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getGreeting">
            <http:operation location="getGreeting"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryStudents">
            <http:operation location="queryStudents"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DemoService">
        <wsdl:port name="DemoServiceHttpSoap11Endpoint" binding="xsd:DemoServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/DemoService"/>
        </wsdl:port>
        <wsdl:port name="DemoServiceHttpSoap12Endpoint" binding="xsd:DemoServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/DemoService"/>
        </wsdl:port>
        <wsdl:port name="DemoServiceHttpEndpoint" binding="xsd:DemoServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/DemoService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
